/* GOOGLE FONTS LINK */
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@100;300;400;500;700&display=swap");
/* GOOGLE FONTS LINK */
/* CSS VARIABLES */
:root {
  --container-pd: 3rem 5rem;
  --container-pd-mobile: 2rem 1.5rem;
  --container-pd2: 5rem 5rem;
  --theme-white: hsl(0, 0%, 100%);
  --theme-white-faded: hsla(0, 0%, 100%, 0.86);
  --theme-black: hsl(0, 0%, 0%);
  --theme-dark-gray: hsl(0, 0%, 55%);
  --theme-very-dark-gray: hsl(0, 0%, 41%);
}
/* CSS VARIABLES */
/* INITIALIZE CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Alata", sans-serif;
  /* font-family: "Josefin Sans", sans-serif; */
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* INITIALIZE CSS */
/* HEADER SECTION */
header {
  height: 85vh;
  padding: var(--container-pd);
  background-image: url("/images/desktop/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--theme-white);
}

nav span {
  font-weight: 800;
  font-size: 28px;
  transition: 0.2s ease;
  cursor: pointer;
}

nav span:hover {
  color: var(--theme-white-faded);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

nav ul span {
  display: none;
}

nav ul li {
  transition: 0.3s ease-in;
  cursor: pointer;
}

nav ul li:hover {
  text-decoration: underline;
  color: var(--theme-white-faded);
}

nav i {
  display: none;
}

header .hero {
  margin-top: 8rem;
}

header .hero h1 {
  border: 1px solid var(--theme-white);
  padding: 1.5rem;
  line-height: 1;
  color: var(--theme-white);
  font-size: 3.5rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  width: 40%;
}

/* MEDIA QUERIES */
@media (min-width: 200px) and (max-width: 374px) {
}

@media (min-width: 375px) and (max-width: 576px) {
  header {
    height: 80vh;
    padding: var(--container-pd-mobile);
  }
  nav ul {
    display: none;
  }

  nav div .bx-x {
    display: none;
  }
  nav ul.active span {
    display: block;
    margin-bottom: 8rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: lowercase;
  }
  nav ul.active {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    height: 100vh;
    padding: 2.4rem 1.5rem;
    background-color: var(--theme-black);
    color: var(--theme-white);
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
  }
  nav i {
    display: flex;
    font-size: 35px;
    filter: drop-shadow(0 0 0.95rem var(--theme-black));
    cursor: pointer;
  }
  header .hero h1 {
    border: 1px solid var(--theme-white);
    padding: 15px;
    line-height: 1;
    color: var(--theme-white);
    font-size: 2.8rem;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 820px) {
}
/* MEDIA QUERIES */
/* HEADER SECTION */
main {
  display: none;
}
/* LEADER SECTION */
.leader {
  padding: var(--container-pd2);
  position: relative;
}

.leaderContent {
  bottom: 10%;
  left: 45%;
  position: absolute;
  padding: 4rem;
  background-color: var(--theme-white);
  width: 50%;
}

.leaderContent h2 {
  line-height: 1;
  margin-bottom: 1.3rem;
  color: var(--theme-black);
  font-size: 2.5rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.leaderContent p {
  color: var(--theme-dark-gray);
  font-weight: 400;
  line-height: 1.8;
}

@media (min-width: 200px) and (max-width: 375px) {
}

@media (min-width: 376px) and (max-width: 576px) {
}

@media (min-width: 577px) and (max-width: 820px) {
}
/* MEDIA QUERIES */
/* LEADER SECTION */
/* GRID SECTION */
.grid {
  padding: var(--container-pd2);
}

.grid .gridTopic {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2rem;
}

.grid .gridTopic h3 {
  line-height: 1;
  color: var(--theme-black);
  font-size: 2.5rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.grid .gridTopic button {
  border: 1px solid var(--theme-black);
  background-color: transparent;
  padding: 0.5rem 2.5rem;
}

.mainGrid_img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.mainGrid_img .img {
  position: relative;
}

.mainGrid_img img {
  width: 100%;
  height: 100%;
  transition: 0.2s ease-in;
}

.mainGrid_img img:hover {
  filter: grayscale(100%) contrast(20%);
  cursor: pointer;
}

.mainGrid_img .img span {
  position: absolute;
  z-index: 1;
  top: 86%;
  right: 0%;
  padding-left: 25px;
  width: 100%;
  height: auto;
  color: var(--theme-white);
  font-size: 1.5rem;
  font-weight: 300;
  text-shadow: 1px 1px 1px var(--theme-black);
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
/* GRID SECTION */

/* FOOTER SECTION */
footer {
  color: var(--theme-white);
  background-color: var(--theme-black);
  padding: 2rem 5rem 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .logo span {
  font-weight: 800;
  font-size: 28px;
  transition: 0.2s ease;
  cursor: pointer;
}

footer span:hover {
  color: var(--theme-white-faded);
}

footer ul {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

footer ul li {
  transition: 0.3s ease-in;
  cursor: pointer;
}

footer ul li:hover {
  text-decoration: underline;
  color: var(--theme-white-faded);
}

footer .socials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

footer .socials .socialIcons i {
  font-size: 25px;
}

footer .socials span {
  color: var(--theme-dark-gray);
  margin-top: 1.8rem;
  font-size: 13px;
}
/* FOOTER SECTION */
@media (min-width: 200px) and (max-width: 375px) {
}

@media (min-width: 376px) and (max-width: 576px) {
}

@media (min-width: 577px) and (max-width: 820px) {
}
/* MEDIA QUERIES */
